@media ( min-width:600px ){
    .boxsizing1{
        width: 100%;
    }
    .boxsizing2{
        width: 50%;
    }
    .boxsizing3{
        width: 50%;
    }
    .boxsizing4{
        width: 100%;
    }
    .boxsizing5{
        width: 100%;
    }

}